<p id="notice"><%= notice %></p>

<h1>Listing activities</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
	<td><%= link_to activity.name, activity %></td>
    <td><%= activity.description %></td>
    
	<% if BucketItem.where(:activity_id => activity.id, :user_id => 1).exists? %>
		<td>- activity already in your bucket list</td>
	<% else %>
		<td><%= link_to '+ add to my bucket list', add_activity_path(activity.id) %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity', new_activity_path %>

<%=  User.find(1).bucket_items %>