<p id="notice"><%= notice %></p>

<h1>Listing activities</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr class="activity">
	<td class="activity-name"><%= link_to activity.name, activity %></td>
    <td><%= activity.description %></td>
    
	<% if BucketItem.where(:activity_id => activity.id, :user_id => 1).exists? %>
		<td>- activity already in your bucket list</td>
	<% else %>
		
	<td class="add-activity">
		<%= link_to(add_activity_path(activity.id), :class => 'image-plus') do %>
			 <%= image_tag ("/images/plus-small.png") %>
		<% end %>
		<div class="add-text">add to my bucket list</div>
	</td>
	
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'create a new activity', new_activity_path %>