<p id="notice"><%= notice %></p>

<div id="activity-name">
  <%= @activity.name %>
</div>

<div id="add-activity2">
	<%= link_to image_tag("/images/plus.png"), new_activity_path, :class => 'plus-image2' %>
	<div id="add-text2">add activity to my bucket list</div>
</div>

<div class="clear"></div>

<p>
  <h4>Description:</h4>
  <%= @activity.description %>
</p>

<%= image_tag "/images/map.png" %>

<br>

<h3> Experiences </h3>

<%= link_to "write about your experience", activities_path %>

<br><br>

I had a great experience doing this. I went to the link_to "local place", activities_path %> and it was a great deal.

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
