<p id="notice"><%= notice %></p>

<div id="activity-name">
  <%= @activity.name %>
</div>

<div id="add-activity2">
	<%= link_to image_tag("/images/plus.png"), new_activity_path, :class => 'plus-image2' %>
	<div id="add-text2">add activity to my bucket list</div>
</div>

<div class="clear"></div>

<p>
  <b>Description:</b>
  <%= @activity.description %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
